---
layout: default
title: Projects
---
<h2>Active Projects</h2>
<div class="card-deck">
{% for project in site.projects %}
  {% if project.status == "active" %}
    <div class="card">
      <a href="{{ project.url }}">
      <img class="card-img-top p-4" src="{{project.img}}" alt="{{project.img_alt}}">
  	  </a>
      <div class="card-body">
        <h5 class="card-title">{{project.title}}</h5>
        <hr/>
        <b>Publications</b>:
        {% for publication in project.publications %}
          <a href="{{publication.url}}">{{publication.name}} {{publication.year}}</a>, 
        {% endfor %}
        <br/>
        <b>Code Repos</b>:
        {% for repo in project.repos %}
          {{repo.name}} {% if repo.type == "public" %}<a href="{{repo.url}}"><img class="mr-2" width="24" height="24" src="\assets\images\icons\link.svg"></a>{% elsif repo.type == "private" %}<img class="mr-2" width="24" height="24" src="\assets\images\icons\link.svg">(private, <a href="mailto:hmaddali@umd.edu">email</a> to request access){% endif %}, 
        {% endfor %}
        <br/>

        {% if project.tags %}
        <hr/>
        <b>Tags</b>:
        {% for tag in project.tags %}
        {{tag}},
        {% endfor%}
        {% endif %}

        <hr/>
        <a href="{{ project.url }}">
          Click here for more information.
        </a>
      </div>
    </div>
  {% endif %}
{% endfor %}
</div>
<hr/>

<h2>Past Projects</h2>
<div class="card-deck">
{% for project in site.projects %}
  {% if project.status == "past" %}
    <div class="card">
      <a href="{{ project.url }}">
      <img class="card-img-top p-4" src="{{project.img}}" alt="{{project.img_alt}}">
  	  </a>
      <div class="card-body">
        <h5 class="card-title">{{project.title}}</h5>
        <hr/>
        <b>Publications</b>:
        {% for publication in project.publications %}
          <a href="{{publication.url}}">{{publication.name}} {{publication.year}}</a>, 
        {% endfor %}
        <br/>
        {% if project.repos %}
        <b>Code Repos</b>:
        {% for repo in project.repos %}
          {{repo.name}} {% if repo.type == "public" %}<a href="{{repo.url}}"><img class="mr-2" width="24" height="24" src="\assets\images\icons\link.svg"></a>{% elsif repo.type == "private" %}<img class="mr-2" width="24" height="24" src="\assets\images\icons\link.svg">(private, <a href="mailto:hmaddali@umd.edu">email</a> to request access){% endif %}, 
        {% endfor %}
        <br/>
        {% endif %}

        {% if project.tags %}
        <hr/>
        <b>Tags</b>:
        {% for tag in project.tags %}
        {{tag}},
        {% endfor%}
        {% endif %}
        
        <hr/>
        <a href="{{ project.url }}">
          Click here for more information.
        </a>
      </div>
    </div>
  {% endif %}
{% endfor %}
</div>