---
layout: default
---
<div class="container w-80">
<h3>{{page.title}}</h3>
<img class="card-img-top p-4" src="{{page.img}}" alt="{{page.img_alt}}">
{{ content }}
<hr/>
<b>Publications</b>:
{% for publication in page.publications %}
  {{publication.description}} <a href="{{publication.url}}">{{publication.name}} {{publication.year}}</a>, 
{% endfor %}
<br/>
{% if page.repos %}
<b>Code Repos</b>:
{% for repo in page.repos %}
  {{repo.name}} {% if repo.type == "public" %}<a href="{{repo.url}}"><img class="mr-2" width="24" height="24" src="\assets\images\icons\link.svg"></a>{% elsif repo.type == "private" %}<img class="mr-2" width="24" height="24" src="\assets\images\icons\link.svg">(private repo, <a href="mailto:hmaddali@umd.edu">email</a> to request access){% endif %}, 
{% endfor %}
{% endif %}
{% if page.tags %}
<hr/>
<b>Tags</b>:
{% for tag in page.tags %}
{{tag}},
{% endfor%}
<br/>
{% endif %}
</div>